body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*Global */

*{
	margin:0;
	padding: 0;
}

html, body{
	height: 100%
}

.container{
	width: 80%;
	max-width: 70rem;
	margin: auto;
	overflow: hidden;
}

.containernav{
	width: 80%;

	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header */
header{
 background-color: #35424a;
 color: #ffffff;
 padding-top: 30px;
 min-height: 70px;
 border-bottom: #e8491d 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 11px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
}

/*Showcase*/
#showcase{
	min-height: 400px;
	background: url('showcase1.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 90px;
	margin-bottom: 10px;
	font-size: 55px;
}

#showcase p{
	font-size: 20px; 
	margin-bottom: 20px;
}

#newsletter {
	padding: 20px;
	color: #ffffff;
	background: #35424a;
}

#newsletter h1{
	float: left;
	font-size: 19px;
	margin-top: 3px;
}

#newsletter form{
	float: right;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}

/*Boxes*/
#boxes{
	margin-top: 50px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 33.3%;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
}

#boxes .box img{
	width: 100px;
}

/* Sidebar */
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 50px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}

.quote textarea{
	resize: none;
}

/* Main-col */
article#main-col{
	float: left;
	width: 65%;
}

/* Services */
ul#services li{
	list-style: none;
	padding: 15px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}


*{
	margin:0;
	padding: 0;
}

html, body{
	height: 100%
}

#main-container{
	min-height: 100%;
}

#main-cont{
	overflow: auto;
	padding-bottom: 40px;
}

#footer{
	position: relative;
	height: 40px;
	margin-top: -50px;
	clear: both;

}



footer{
	padding: 5px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}

footer p{
	margin-top: 10px;
}

/*Media queries*/

@media(max-width: 756px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 30px;
	}

	#newsletter h1{
		margin-top: 5px; 
		margin-bottom: 0px;
	}

	#newsletter form{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#newsletter button{
		display: block;
		width: 100%;
	}

	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}

#boxes{
	margin-top: 20px;
}
	.quote button{
		display: block;
		width: 94%;
		margin: 0 auto;
		margin-top: 5px;
	}
	.quote textarea{
		height: 100px;
	}

	.clr{
	clear: both;
	margin-top: 30px;
}
}